.DS_Store
xcuserdata
MySynthesiser/.vs
MySynthesiser/build-web/*.data
MySynthesiser/build-web/imgs*
MySynthesiser/build-web/fonts.js
MySynthesiser/build-web/svgs.js
MySynthesiser/build-web/favicon.ico
*.RPP-bak

